<div class="container" [ngStyle]="{'background-color': false ? 'red': 'black'}">
  <h1 class="display-4">App component</h1>
</div>

<app-data-bindig-demo></app-data-bindig-demo>

<app-event-bindig-demo></app-event-bindig-demo>

<app-input-demo someText="This is direct text binding through component input"></app-input-demo>

<app-input-demo [someText]="someTextThroughComponentProperty"></app-input-demo>

<app-output-demo (somethingChanged)="handleSomethingChanged($event)"></app-output-demo>
<div class="container" appAttributeDirectiveDemo>
  This is coming from Output demo component to App component
  <div style="background-color: lightgoldenrodyellow;margin-bottom: 10px;">
    {{variableToCaptureOutputEventInfo}}
  </div>
</div>

<app-view-child-demo></app-view-child-demo>

<app-ng-content-and-content-child-demo>
  <app-input-demo someText="I am component sitting in content projection of another component"></app-input-demo>
  <div #contentChildRefVariable>
    This is for content child demo and accessing this will apply background color
  </div>
</app-ng-content-and-content-child-demo>

<app-demo-built-in-directives></app-demo-built-in-directives>

<div class="container" appAttributeDirectiveDemo>
  <div class="row">
    This is structral directive demo
  </div>
  <div class="row">
    <div class="col" *appStructuralDirectiveDemo="let inputFromDirective = number" views="6">
      view {{inputFromDirective}}
    </div>
  </div>
</div>

<div class="container" appAttributeDirectiveDemo>
  <app-life-cycle-demo *ngIf="ngDestroyDemoVariable" inputText="some text to trigger ngOnChanges">
    <div>Content of life cycle demo component</div>
  </app-life-cycle-demo>

  <div (click)="ngDestroyDemoVariable = !ngDestroyDemoVariable">
    <h3>ngOnDestory gets called after this element click and the component gets destroyed</h3>
  </div>
</div>