<!-- <div>
  Hello Angular 
</div>
<button class="btn btn-primary">Ok</button>
<app-user></app-user>
<app-group></app-group> -->
<!-- 
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button> -->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3" >Hello, Angular!</h1>
    <p class="lead" appHighlight>Created this component manually for fun</p>
  </div>
  <!-- <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Component One</h5>
          <p class="card-text">Some quick example component created using CLI.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Component One</h5>
          <p class="card-text">Some quick example component created using CLI.</p>
        </div>
      </div>
    </div>
  </div> -->
</div>